<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>联合信用评级crm系统</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <link rel="stylesheet" th:href="@{/dist/main.e013b70c3c7b4f94b449.css}">
</head>

<body>
    <div id="app"></div>
    <script type="text/javascript" th:src="@{/dist/vendors.e013b70c3c7b4f94b449.js}"></script>
    <script type="text/javascript" th:src="@{/dist/main.e013b70c3c7b4f94b449.js}"></script>
</body>

</html>