<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>联合信用评级数据计算平台</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <link rel="stylesheet" th:href="@{/dist/main.5f5813f42ea9c05281d0.css}">
</head>

<body>
    <div id="app"></div>
    <script type="text/javascript" th:src="@{/dist/vendors.5f5813f42ea9c05281d0.js}"></script>
    <script type="text/javascript" th:src="@{/dist/main.5f5813f42ea9c05281d0.js}"></script>
</body>

</html>